@model IEnumerable<Pictures.Domain.Entities.Picture>

@{
    ViewData["Title"] = "GetPictures";
}
<h1>Pictures</h1>
@{
    <div class="pictures-container">
        <div class="row mt-3">
            @{
                foreach (var picture in Model)
                {
                    <div class="picture-block">
                        <div class="picture-name">
                            <h2>@picture.Name</h2>
                        </div>

                        <a class="picture scaled" href="#@picture.Address">
                            <img class="picture" src="@picture.Address" alt="@picture.Name">
                        </a>

                        <div id="@picture.Address" class="popup-container">
                            <div class="popup-body">
                                <a href="#return" class="popup-area"></a>
                                <div class="popup-content-image">
                                    <img class="popup-image" src="@picture.Address" alt="@picture.Name">
                                    <a href="#return" class="popup-close"><img src="~/icons/close-window-cross.png" style="width:20px;"></a>
                                    <div class="popup-image-text">@picture.Name</div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
}

